body{
  background-color: #ccc;
}
.container{
  margin-top: 50px;
}
.card-header{
  text-transform: uppercase;
  text-align: center;
  background-color: teal;
  color: #fff;
}
.form-group{
  margin-bottom: 50px
}
.card-footer{
  color: teal;
}